<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<typeAliases>
		<typeAlias alias="empAuth" type="com.tramhuong.dto.AuthorizedUserInfo" />
		<typeAlias alias="category" type="com.tramhuong.dto.CategoryDto"/>
		<typeAlias alias="introduce" type="com.tramhuong.dto.IntroduceDto"/>
		<typeAlias alias="product" type="com.tramhuong.dto.ProductDto"/>
		<typeAlias alias="province" type="com.tramhuong.dto.LocationDto"/>
		<typeAlias alias="district" type="com.tramhuong.dto.LocationDto"/>
		<typeAlias alias="ward" type="com.tramhuong.dto.LocationDto"/>
		<typeAlias alias="billingAccount" type="com.tramhuong.dto.BillingAccountDto"/>
		<typeAlias alias="about" type="com.tramhuong.dto.AboutDto"/>
		<typeAlias alias="blog" type="com.tramhuong.dto.BlogDto"/>
		<typeAlias alias="order" type="com.tramhuong.dto.OrderInfoDto"/>
		<typeAlias alias="orderItem" type="com.tramhuong.dto.OrderItemDto"/>
		<typeAlias alias="post" type="com.tramhuong.dto.PostDto"/>
		<typeAlias alias="mail" type="com.tramhuong.dto.MailTemplateDto"/>
		<typeAlias alias="tag" type="com.tramhuong.dto.TagDto"/>
		<typeAlias alias="payment" type="com.tramhuong.dto.PaymentDto"/>
		<typeAlias alias="shipping" type="com.tramhuong.dto.ShippingDto"/>
		<typeAlias alias="term" type="com.tramhuong.dto.TermDto"/>
		<typeAlias alias="static" type="com.tramhuong.dto.StaticDto"/>
	</typeAliases>
</configuration>