<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tramhuong.mapper.AuthorizedUserTokenMapper">
	<insert id="add" useGeneratedKeys="true" keyProperty="dto.userId">
		INSERT INTO USER(
		userName
		, fullName
		, mail
		, password
		, status
		, role
		)VALUES(
		#{dto.userName}
		, #{dto.fullName}
		, #{dto.mail}
		, #{dto.password}
		, #{dto.status}
		, #{dto.role}
		)
	</insert>
	<select id="getByName" resultType="empAuth">
		SELECT *
		FROM USER u
		WHERE u.userName=#{userName} LIMIT 1
	</select>
	<select id="findByEmail" resultType="empAuth">
		SELECT *
		FROM USER u
		WHERE u.mail=#{mail} LIMIT 1
	</select>
	<update id="updatePassword">
		UPDATE USER SET
		password = #{dto.password}
		WHERE userName= #{dto.userName}
	</update>
	<update id="update">
		UPDATE USER SET
		userName = #{dto.userName}
		, fullName = #{dto.fullName}
		, mail = #{dto.mail}
		, status = #{dto.status}
		, role = #{dto.role}
		WHERE userId= #{dto.userId}
	</update>
	<select id="findAll" resultType="empAuth">
		SELECT *
		FROM USER ORDER BY userId
	</select>
</mapper>
