<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tramhuong.mapper.AuthorizedUserTokenMapper">
	<select id="getByName" resultType="empAuth">
		SELECT *
		FROM USER u
		WHERE u.userName=#{userName} LIMIT 1
	</select>
</mapper>
