<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tramhuong.mapper.BillingAccountMapper">

	<insert id="add" useGeneratedKeys="true" keyProperty="dto.id">
		INSERT INTO BILLING_ACCOUNT(
		description
		, accountName
		)VALUES(
		#{dto.description}
		, #{dto.accountName}
		)
	</insert>
	<update id="update">
		UPDATE BILLING_ACCOUNT SET
		description = #{dto.description}
		,accountName = #{dto.accountName}
		WHERE id= #{dto.id}
	</update>

	<delete id="delete">
		DELETE FROM BILLING_ACCOUNT WHERE id = #{id}
	</delete>

	<select id="findAll" resultType="billingAccount">
		SELECT * FROM BILLING_ACCOUNT ORDER BY id
	</select>

	<select id="findById" resultType="billingAccount">
		SELECT * FROM BILLING_ACCOUNT WHERE id = #{id}
	</select>

</mapper>
