<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tramhuong.mapper.LocationMapper">
	<select id="findProvinces" resultType="province">
		SELECT
		p.id id,
		p.name name
		 FROM PROVINCES p ORDER BY p.id
	</select>
	<select id="findDistricts" resultType="district">
		SELECT
		d.id id,
		d.name
		 FROM DISTRICTS d WHERE d.provinceId = #{id} ORDER BY d.id
	</select>
	<select id="findWards" resultType="ward">
		SELECT
		w.id id,
		w.name
		 FROM WARDS w WHERE w.districtId = #{id} ORDER BY w.id
	</select>
</mapper>
