<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tramhuong.mapper.MailTemplateMapper">

	<insert id="add" useGeneratedKeys="true" keyProperty="dto.id">
		INSERT INTO MAIL_TEMPLATE(
		code
		, header
		, footer
		)VALUES(
		#{dto.code}
		, #{dto.header}
		, #{dto.footer}
		)
	</insert>
	<update id="update">
		UPDATE MAIL_TEMPLATE SET
		header = #{dto.header}
		, footer = #{dto.footer}
		WHERE id= #{dto.id}
	</update>
	<select id="findById" resultType="mail">
		SELECT * FROM MAIL_TEMPLATE WHERE id = #{id}
	</select>
	<select id="findByCode" resultType="mail">
		SELECT * FROM MAIL_TEMPLATE WHERE code = #{code}
	</select>
	<select id="findAll" resultType="mail">
		SELECT * FROM MAIL_TEMPLATE ORDER BY id
	</select>
</mapper>
