<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tramhuong.mapper.PostMapper">

	<insert id="add" useGeneratedKeys="true" keyProperty="dto.id">
		INSERT INTO POST(
		title
		, blogId
		, img
		, url
		, created
		, subContent
		)VALUES(
		#{dto.title}
		, #{dto.blogId}
		, #{dto.img}
		, #{dto.url}
		, NOW()
		, #{dto.subContent}
		)
	</insert>

	<update id="update">
		UPDATE POST SET
		title = #{dto.title}
		,blogId = #{dto.blogId}
		,img = #{dto.img}
		,content = #{dto.url}
		,created = #{dto.created}
		,subContent= #{dto.subContent}
		WHERE id= #{dto.id}
	</update>
	<delete id="delete">
		DELETE FROM POST WHERE id = #{id}
	</delete>
	<select id="findAll" resultType="post">
		SELECT * FROM POST ORDER BY id
	</select>
	<select id="findByBlogId" resultType="post">
		SELECT * FROM POST WHERE blogId = #{id} ORDER BY id
	</select>
	<select id="findById" resultType="post">
		SELECT * FROM POST WHERE id=#{id}
	</select>
	<select id="findPostNew" resultType="post">
		SELECT * FROM POST WHERE blogId NOT IN (2,3) ORDER BY created LIMIT 4
	</select>

</mapper>
