<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tramhuong.mapper.PostMapper">

	<insert id="add" useGeneratedKeys="true" keyProperty="dto.id">
		INSERT INTO POST(
		title
		, blogId
		, img
		, url
		, created
		, subContent
		, status
		, content
		, position
		)VALUES(
		#{dto.title}
		, #{dto.blogId}
		, #{dto.img}
		, #{dto.url}
		, NOW()
		, #{dto.subContent}
		, #{dto.status}
		, #{dto.content}
		, #{dto.position}
		)
	</insert>

	<update id="update">
		UPDATE POST SET
		title = #{dto.title}
		,blogId = #{dto.blogId}
		, content = #{dto.content}
		<if test="dto.img != null">
		,img = #{dto.img}
		</if>
		,url = #{dto.url}
		,subContent= #{dto.subContent}
		,status=#{dto.status}
		,position=#{dto.position}
		WHERE id= #{dto.id}
	</update>
	<delete id="delete">
		DELETE FROM POST WHERE id = #{id}
	</delete>
	<select id="findAll" resultType="post">
		SELECT * FROM POST ORDER BY position ASC
	</select>
	<select id="findByStatus" resultType="post">
		SELECT * FROM POST WHERE status = 1 ORDER BY position ASC
	</select>
	<select id="findByBlogId" resultType="post">
		SELECT * FROM POST WHERE blogId = #{id}
		<if test="status > 0">
			AND status = #{status}
		</if> ORDER BY id
	</select>
	<select id="findById" resultType="post">
		SELECT * FROM POST WHERE id=#{id}
	</select>
	<select id="findPostNew" resultType="post">
		SELECT * FROM POST WHERE status = 1 ORDER BY created LIMIT 4
	</select>

</mapper>
