<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tramhuong.mapper.PostMapper">

	<insert id="add" useGeneratedKeys="true" keyProperty="dto.id">
		INSERT INTO POST(
		title
		, tag
		, img
		, url
		, created
		, subContent
		, status
		, content
		, isHigh
		, source
		)VALUES(
		#{dto.title}
		, #{dto.tag}
		, #{dto.img}
		, #{dto.url}
		, NOW()
		, #{dto.subContent}
		, #{dto.status}
		, #{dto.content}
		, #{dto.isHigh}
		, #{dto.source}
		)
	</insert>

	<update id="update">
		UPDATE POST SET
		title = #{dto.title}
		,tag = #{dto.tag}
		, content = #{dto.content}
		<if test="dto.img != null">
		,img = #{dto.img}
		</if>
		,url = #{dto.url}
		,subContent= #{dto.subContent}
		,status=#{dto.status}
		,isHigh=#{dto.isHigh}
		, source = #{dto.source}
		WHERE id= #{dto.id}
	</update>
	<delete id="delete">
		DELETE FROM POST WHERE id = #{id}
	</delete>
	<select id="findAll" resultType="post">
		SELECT * FROM POST ORDER BY position DESC
	</select>
	<select id="findByStatus" resultType="post">
		SELECT * FROM POST WHERE status = 1 ORDER BY id DESC
	</select>
	<select id="findByBlogId" resultType="post">
		SELECT * FROM POST WHERE blogId = #{id}
		<if test="status > 0">
			AND status = #{status}
		</if> ORDER BY id
	</select>
	<select id="findById" resultType="post">
		SELECT * FROM POST WHERE id=#{id}
	</select>
	<select id="findPostNew" resultType="post">
		SELECT * FROM POST WHERE isHigh = 1 ORDER BY id DESC
	</select>
	<select id="findAllPost" resultType="post">
		SELECT * FROM POST ORDER BY id DESC
	</select>
	<select id="findByTag" resultType="post">
		SELECT * FROM POST WHERE status = 1 AND tag LIKE concat(concat('%',#{tag}), '%') ORDER BY id DESC
	</select>
</mapper>
