<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tramhuong.mapper.ProductMapper">

	<insert id="add" useGeneratedKeys="true" keyProperty="dto.id">
		INSERT INTO PRODUCT (
		code
		, name
		, tag
		, isNew
		, isSale
		, isEffete
		, created
		, img
		, img1
		, img2
		, status
		, categoryId
		, subCategoryId
		, price
		, salePrice
		, description
		, count
		)VALUES(
		#{dto.code}
		, #{dto.name}
		, #{dto.tag}
		, #{dto.isNew}
		, #{dto.isSale}
		, #{dto.isEffete}
		, NOW()
		, #{dto.img}
		, #{dto.img1}
		, #{dto.img2}
		, #{dto.status}
		, #{dto.categoryId}
		, #{dto.subCategoryId}
		, #{dto.price}
		, #{dto.salePrice}
		, #{dto.description}
		, #{dto.count}
		)
	</insert>

	<update id="update">
		UPDATE PRODUCT SET
		code = #{dto.code}
		, name = #{dto.name}
		, tag = #{dto.tag}
		, isNew = #{dto.isNew}
		, isSale = #{dto.isSale}
		, isEffete = #{dto.isEffete}
		<if test="dto.img != ''">
		, img = #{dto.img}
		</if>
		<if test="dto.img1 != ''">
		, img1 = #{dto.img1}
		</if>
		<if test="dto.img2 != ''">
		, img2 = #{dto.img2}
		</if>
		, status = #{dto.status}
		, categoryId = #{dto.categoryId}
		<if test="dto.subCategoryId != null">
		, subCategoryId = #{dto.subCategoryId}
		</if>
		, price = (#{dto.price})
		<if test="dto.salePrice > 0">
		, salePrice = #{dto.salePrice}
		</if>
		, description = #{dto.description}
		<if test="dto.count > 0">
		, count = #{dto.count}
		</if>
		WHERE id= #{dto.id}
	</update>

	<delete id="delete">
		DELETE FROM PRODUCT WHERE id = #{id}
	</delete>

	<select id="findAll" resultType="product">
		SELECT * FROM PRODUCT ORDER BY id
	</select>
	<select id="findByTag" resultType="product">
		SELECT * FROM PRODUCT WHERE status = 1 AND tag LIKE #{tag} ORDER BY id
	</select>
	<select id="findByName" resultType="product">
		SELECT * FROM PRODUCT WHERE status = 1 AND name LIKE concat(concat('%',#{name}), '%') ORDER BY id
	</select>
	<select id="findByStatus" resultType="product">
		SELECT * FROM PRODUCT WHERE status = #{status} ORDER BY id
	</select>
	<select id="findHighlights" resultType="product">
		SELECT * FROM PRODUCT WHERE status = 1 ORDER BY count DESC LIMIT #{limit}
	</select>
	<select id="findByCategory" resultType="product">
		SELECT * FROM PRODUCT WHERE categoryId = #{id} AND status = 1 ORDER BY id DESC
		<if test="limit > 0">
		LIMIT #{limit}
		</if>
	</select>
	<select id="findBySubCategory" resultType="product">
		SELECT * FROM PRODUCT WHERE subCategoryId = #{id} AND status = 1 ORDER BY id DESC
		<if test="limit > 0">
			LIMIT #{limit}
		</if>
	</select>
	<select id="findById" resultType="product">
		SELECT * FROM PRODUCT WHERE id = #{id}
	</select>
	<select id="findSale" resultType="product">
		SELECT * FROM PRODUCT WHERE status = 1 AND isSale = 1
		<if test="limit > 0">
			LIMIT #{limit}
		</if>
	</select>
	<select id="findNew" resultType="product">
		SELECT * FROM PRODUCT WHERE status = 1 AND isNew = 1
		<if test="limit > 0">
			LIMIT #{limit}
		</if>
	</select>
	<select id="findByCondition" resultType="product">
		SELECT * FROM PRODUCT WHERE
		<if test="dto.status == -1">
			status IN(0,1)
		</if>
		<if test="dto.status >= 0">
			status = #{dto.status}
		</if>
		<if test="dto.categoryId > 0">
			AND categoryId = #{dto.categoryId}
		</if>
		<if test="dto.subCategoryId > 0">
			AND subCategoryId = #{dto.subCategoryId}
		</if>
		<if test="dto.created != null">
			AND created = #{dto.created}
		</if>
		<if test="dto.name != ''">
			AND name = #{dto.name}
		</if>
		<if test="dto.code != ''">
			AND code = #{dto.code}
		</if>
		<if test="dto.sNew == 1">
			AND isNew = #{dto.sNew}
		</if>
		<if test="dto.sSale == 1">
			AND isSale = #{dto.sSale}
		</if>
		<if test="dto.sEffete == 1">
			AND isEffete = #{dto.sEffete}
		</if>
		ORDER BY id
	</select>
</mapper>
