<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tramhuong.mapper.TermMapper">

	<insert id="add" useGeneratedKeys="true" keyProperty="dto.id">
		INSERT INTO TERM(
		content,
		type
		)VALUES(
		#{dto.content},
		#{dto.type}
		)
	</insert>
	<update id="update">
		UPDATE TERM SET
		content = #{dto.content}
		WHERE id= #{dto.id}
	</update>
	<select id="findByType" resultType="term">
		SELECT * FROM TERM WHERE type = #{type} LIMIT 1
	</select>
	<select id="findAll" resultType="term">
		SELECT * FROM TERM
	</select>
</mapper>
